* {
  border: 0;
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

#emojis {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 350px;
  padding: 15px;
  background: #1e2226;
  box-shadow: 1px 1px 10px 1px #151515; z-index: 99999999999;
}

#emojis.hidden {
  display: none;
}

.emoji {
  align-items: center;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  margin: 5px;
  padding: 5px;
  width: 30px;
}

.emoji:hover{
  background: #333333;
}
.emoji:active{
  background: #1e2226;

}